<%- model_class = Codeinterview -%>
<div class="page-header">
  <h1>面试题列表<small>（<%= link_to "按公司排序", {:controller => "codeinterviews", :action => "index", :order=> "company"} %>、
  	<%= link_to "按更新时间排序", {:controller => "codeinterviews", :action => "index", :order=> "created_at"} %>
  	）</small></h1>
</div>

<table class="table table-bordered table-striped center-table">
  <thead>
    <tr>
      <th width="10%"></th>
      <th width="10%">公司名</th>
      <th width="55%">面试题内容</th>
      <th width="14%">创建时间</th>
      <th width="10%"></th>
    </tr>
  </thead>
  <tbody>
    <% @codeinterviews.each do |codeinterview| %>
      <tr>
      	<td><%
      		if (codeinterview.created_at > 3.day.ago)
      			%><span class="label label-warning">最新</span><%
      		end
      	    %></td>
        <td><%= codeinterview.company %></td>
        <td><%= codeinterview.content %></td>
        <td><%= codeinterview.created_at %></td>
        <td><!--<%= link_to "赞", {:controller => "codeinterviews", :action => "zan", :id=> codeinterview.id}, :class => 'btn btn-mini btn-danger' %> --><%= link_to '详细', codeinterview, :class => 'btn btn-mini'%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '新建面试题',
            new_codeinterview_path,
            :class => 'btn btn-primary' %>
