<%- model_class = Codeinterview -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>
  <% if notice != nil %>
  	<div class="alert alert-info" id="notice"><%= notice %></div>
  <% end %>
<dl class="dl-horizontal">
	  <dt>公司</dt>
	  <dd><%= @codeinterview.company %><dd>
	
	  <dt>面试题内容<dt>
	  <dd><%= @codeinterview.content %><dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              codeinterviews_path, :class => 'btn'  %>
</div>
