<h1>密信列表</h1>

<table class="table table-bordered table-striped center-table">
  <tr>
    <th width="10%">公司</th>
    <th width="20%">职位</th>   
    <th width="10%">薪水（万每年）</th>
    <th width="25%">备注</th>
    <th width="25%">创建时间</th>
    <th width="10%"></th>
  </tr>

<% @information.each do |information| %>
  <tr>
    <td><%= information.company %></td>
    <td><%= information.type %></td>
    
    <td><%= information.salary %></td>
    <td><%= information.comment %></td>
    <td><%= information.created_at %></td>
    <td><%= link_to '详细', information, :class => 'btn btn-mini'%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to '新密信', new_information_path, :class => 'btn btn-primary' %>
