<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @news.title %>
</p>

<p>
  <b>Web url:</b>
  <%= @news.web_url %>
</p>

<p>
  <b>Created at:</b>
  <%= @news.created_at %>
</p>


<%= link_to 'Edit', edit_news_path(@news) %> |
<%= link_to 'Back', news_path %>
